body {
    font-family: 'Roboto';
}

.text-danger {
  color:Red;
}

.text-success{
  color:green;
}

.input-field{
  margin-top:150px;
}


#output {
  display: none;
}

.collapsible-body {
  overflow-x: auto;
}